@page
@model PharmarcySystem.Pages.Inventory.Medicine.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>MedicineInfo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicineInfo.MedicineName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicineInfo.MedicineName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicineInfo.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicineInfo.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicineInfo.Sell_Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicineInfo.Sell_Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicineInfo.Stock)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicineInfo.Stock)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicineInfo.Generic)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicineInfo.Generic.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicineInfo.Manufacturer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicineInfo.Manufacturer.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.MedicineInfo.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
