@page
@model PharmarcySystem.Pages.Purchaseitems.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PurchaseItem</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseItem.Batch_ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PurchaseItem.Batch_ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseItem.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PurchaseItem.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseItem.Cost_Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PurchaseItem.Cost_Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseItem.Production_Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PurchaseItem.Production_Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseItem.Expire_Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PurchaseItem.Expire_Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseItem.medicineInfo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PurchaseItem.medicineInfo.MedicineName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseItem.purchaseEntryVM)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PurchaseItem.purchaseEntryVM.Purchase_ID)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="PurchaseItem.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="/Purchases/NewPurchase/PurchaseFinal"  asp-route-id="@Model.PurchaseItem.purchaseEntryVM.Purchase_ID">Back to List</a>
    </form>
</div>
