@page
@model PharmarcySystem.Pages.Purchaseitems.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>PurchaseItem</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseItem.Batch_ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PurchaseItem.Batch_ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseItem.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PurchaseItem.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseItem.Cost_Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PurchaseItem.Cost_Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseItem.Production_Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PurchaseItem.Production_Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseItem.Expire_Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PurchaseItem.Expire_Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseItem.medicineInfo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PurchaseItem.medicineInfo.MedicineName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseItem.purchaseEntryVM)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PurchaseItem.purchaseEntryVM.Purchase_ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Index">Back to List</a>
</div>
